- Lists
- Tuples
- Set
- Dictionary

- Strings

# Slicing

In [2]:
string = "computer"

start:end:step
0:5:1
0, 1, 2, 3, 4

5:0:-1
start - {}
start + step {}
start + step + step {}

In [3]:
string[0]

'c'

In [4]:
# start : end : step => start to end -1 
string[0:3] # 0:3:1

'com'

In [5]:
string[2:]

'mputer'

In [6]:
string[:5]

'compu'

In [7]:
string[-1]

'r'

In [8]:
string[-3:]

'ter'

In [9]:
string = "computer"

In [10]:
string[0:5:1]

'compu'

In [11]:
string[0:5:2]

'cmu'

# Negative Indexing

In [14]:
string[4:8:-1]

''

In [15]:
string[5:0:-1]

'tupmo'

In [17]:
string[7:3:-1]

'retu'

In [18]:
string[8:3:-1]

'retu'

In [13]:
string[:-4:-1]

'ret'

In [13]:
countries = ['china', 'india', 'bangladesh','sl','nz']

In [14]:
countries[1:4]

['india', 'bangladesh', 'sl']

In [15]:
countries[1:]

['india', 'bangladesh', 'sl', 'nz']

In [16]:
countries[:4]

['china', 'india', 'bangladesh', 'sl']

In [17]:
countries[-1]

'nz'

In [18]:
countries[::-1]

['nz', 'sl', 'bangladesh', 'india', 'china']

# Concatenation  or + - ( List ,Tuple, String)  
- Python will be object oriented programming language
- for ex- 5+6 will be 11 not 56  and hello + world it is giving hello world depend on different datatype behaviour is different and it is a case of method overloading n overriding either.Although we are not making object and classes but is behaving like object oriented programming language.Everything is object in python.list,tuple,strings,concatenation and multiplication is an example of OOP language

In [19]:
string = "hello " + "world"

In [20]:
print(string)

hello world

In [21]:
combined = [1,99,3] + [4,5,6]
print(combined)

[1, 99, 3, 4, 5, 6]

In [22]:
combined_tuple = (1,2,3) + (2,3,4)
print(combined_tuple)

(1, 2, 3, 2, 3, 4)

# Multiplication or * - it is case sensitive and it does exact matching

In [23]:
"bug" * 4

'bugbugbugbug'

In [24]:
[1,2,3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
(2,3) * 3

(2, 3, 2, 3, 2, 3)

# membership operator "in"

In [26]:
"u" in "bug"

True

In [27]:
"x" in "bug"

False

In [28]:
2 in [2,3,4]

True

In [29]:
'india' in ('india', 'pakistan')

True

- min
- max
- len
- sorted

In [30]:
min([1,2,3])

1

In [31]:
max([1,2,3])

3

In [32]:
len([1,2,3,4])

4

In [33]:
sorted([1,33,2,333,4])

[1, 2, 4, 33, 333]

# Lists - 
- When you are going to store more than element and you dont know how many elements you will store,you can change the length of list and list is mutable length o lists can grow.if there is a case you have to take the input from the user make use of list as you dont know how much user will give inputs
- When you know how many elements you have to added make the use of Tuple as Tuple is faster than List but only disadvantage tuple cannot grow as tuple is immutable . In tuple we cant append the user input

In [34]:
# both statements are same
numbers = list()
numbers = []

- Append will keep adding the element at the end

In [35]:
numbers.append(5)

In [36]:
numbers.append(10)

In [37]:
numbers

[5, 10]

# Problem

- Create an empty list
- Keep taking input from user untill user types "end"
- At each input that user provides, append it to the created list


- hint - while, input, if, break, append

In [38]:
input_from_user = []

while True:
    current_input = input("Please input something - ")
    
    if current_input == "end":
        break
    
    input_from_user.append(current_input)

print(input_from_user)

Please input something -
Please input something - 5
Please input something - df
Please input something - 5
Please input something - sdf
Please input something - sdfg
Please input something - 5
Please input something - end
['', '5', 'df', '5', 'sdf', 'sdfg', '5']

In [39]:
number = [1,2,3,4,5,6,7,8]

- append - adds element to end
- delete - deletes based on index
- remove - removes based on value -if there is multiple occurence of 6 it will remove first 6 from the left
- insert - inserts a values based on index and value
- pop - removes an element from end
- extend - + 
- sort and sorted

In [40]:
number

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
number.append(50)
number

[1, 2, 3, 4, 5, 6, 7, 8, 50]

In [42]:
number.remove(6) # based on value

In [43]:
number

[1, 2, 3, 4, 5, 7, 8, 50]

In [44]:
del(number[1]) # based on index

In [45]:
number

[1, 3, 4, 5, 7, 8, 50]

In [46]:
number.insert(1,999) # index, value

In [47]:
number

[1, 999, 3, 4, 5, 7, 8, 50]

In [48]:
number.pop() # removes from end

50

In [49]:
number

[1, 999, 3, 4, 5, 7, 8]

In [50]:
x = [1,2,3]
y = [4,5,6]

# below two are exactly same
# x = x + y
x.extend(y)

In [51]:
x

[1, 2, 3, 4, 5, 6]

In [52]:
y

[4, 5, 6]

In [53]:
list_1 = [5,8,7,2,1,-9]
list_2 = [1,4,5,6,2,3,4,5]

sorted(list_1) # no change to original list ,can be used in tuple ,pass by value # 
-when I making copy  by xerox and changing the value in copy not original

In [55]:
list_1

[5, 8, 7, 2, 1, -9]

In [56]:
list_2.sort() # changes your original list ,pass by reference

In [57]:
list_2

[1, 2, 3, 4, 4, 5, 5, 6]

# List comprehension -When you deals with list and output is also list

In [58]:
number = [1,5,6,8,9,7,15]

result = []
for each_number in number:
    result.append(each_number ** 2)

In [59]:
# list comprehension
another_result = [each_number ** 2 for each_number in number]

In [60]:
result

[1, 25, 36, 64, 81, 49, 225]

In [61]:
another_result

[1, 25, 36, 64, 81, 49, 225]

# Problem

- Assume you have two lists given.

```
- list_1 = [5,10,15,20]
- list_2 = [5,15,50,10]
```

- write code such that you have a new list:

```
[10,25,65,30]
```

zip

In [62]:
list_1 = [5,10,15,20]
list_2 = [5,15,50,10]

In [63]:
list_3 = []
for a, b in zip(list_1, list_2):
    list_3.append(a+b)

In [64]:
list_3

[10, 25, 65, 30]

In [65]:
list_4 = [a+b for a, b in zip(list_1, list_2)]

In [66]:
list_4

[10, 25, 65, 30]

# Tuple

In [67]:
my_tuple = (1,2,3,4)  # tuple(),tuples are immutable

In [68]:
del(my_tuple[1])

TypeError: 'tuple' object doesn't support item deletion

In [69]:
from timeit import timeit

# Performance

In [70]:
timeit(stmt="my_list = [1,2,3,4]",number= 100000000)

3.547839770999417

In [71]:
timeit(stmt="my_tuple = (1,2,3,4)",number= 100000000)

0.894110653000098

# Lists & Tuple - Numpy is faster than list and tuples,You can put anything in the tuple and list

In [72]:
my_list = [1,2,3,[1,2,3], (1,2,3)]

In [73]:
my_list[3]

[1, 2, 3]

In [74]:
my_list[3][2]

3

In [75]:
sample = [10,20,30,40,45,5,6,7]

for position, each in enumerate(sample):
    print(each, position)

10 0
20 1
30 2
40 3
45 4
5 5
6 6
7 7

# Problem

- Give a matrix in below format, print its diagonal elements
- Each element of the list is a list itself

In [76]:
my_matrix = [
            [1,2,24,5],
            [5,8,7,9],
            [5,8,9,10],
        ]

In [77]:
for position, each in enumerate(my_matrix):
    print(each, position)

[1, 2, 24, 5] 0
[5, 8, 7, 9] 1
[5, 8, 9, 10] 2

In [78]:
for row_num, row in enumerate(my_matrix): # 3
    for col_num, value in enumerate(row):
        if row_num == col_num:
            print(value)

1
8
9

In [79]:
my_matrix

[[1, 2, 24, 5], [5, 8, 7, 9], [5, 8, 9, 10]]

In [80]:
my_matrix[1][2]

7

In [81]:
my_tuple = ('a',1,3,[23,4,5])

In [82]:
my_tuple

('a', 1, 3, [23, 4, 5])

# Sets

In [83]:
set_1 = {1,2,3,1,2,4}  # [1,2,3] (1,2,3)
set_1

{1, 2, 3, 4}

In [84]:
set_2 = {3,4,5,6}

# edit operations
```
set_name.remove(element)
set_name.add(element)
```

In [85]:
x = {1,2,3,'a'}
x.add(100)
x.add(100)
x.add(100)
x.remove(2)
x

{1, 100, 3, 'a'}

In [86]:
3 in x

True

In [87]:
x[0]

TypeError: 'set' object is not subscriptable

In [88]:
set_1 = {1,2,3,4}
set_1

{1, 2, 3, 4}

In [89]:
set_2 = {3,4,5,6}
set_2

{3, 4, 5, 6}

In [90]:
set_1 & set_2 # intersection

{3, 4}

In [91]:
set_1 | set_2 # union

{1, 2, 3, 4, 5, 6}

In [92]:
# xor
set_1 ^ set_2

{1, 2, 5, 6}

In [93]:
set_1 - set_2

{1, 2}

In [94]:
set_2 - set_1

{5, 6}

In [95]:
# superset and subset

In [96]:
x = {1,2,3,4,5,6}
y = {1,5,6}
z = {1,10}

In [97]:
y <= x # all elements in y are present in x

True

In [98]:
z <= x

False